body {
    font-family: Arial, Helvetica, sans-serif;

}

header {
    text-align: center;
}

#form-heading {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 4% 0%;


}

#form-container {
    width: 30vw;
    height: 50%;
    margin: auto;
    border: 2px solid black;
}

#form {
    padding: 1% 5%;
}

.row {
    margin-bottom: 17px;
}

.row label {
    display: block;
    margin-bottom: 5px;
    /* background-color: red; */
}

.row input {
    height: 30px;
    width: 100%;

}

#gender-con:first-child {
    display: block;
}

#gender-con {
    border: 1px solid gray;
    padding: 2px;
    margin-bottom: 15px;
    width: 100%;
}

.form-group {
    display: inline-block;
    width: 110px;
    margin-left: 2%;
    margin-bottom: 5px;
    /* background-color: red; */
}

#gender {

    padding: 10px;
    text-align: center;
}

select {
    width: 100%;
    height: 30px;
}

#btn:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

#btn {
    height: 30px;
}