body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 247, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 0% 2%;
}

nav {
    text-align: center;
}
